@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Portal o mojej grze.</h1>
    <p class="lead">Na tej stronie będą umieszczane postępy w pracach nad moją grą. Którą tworze na zaliczenie pracy inżynierskie. Będzie to gra RPG stworzona w języku C# przy użyciu silnika Unity3D, a modele oraz szata graficzna w 3ds max.</p>
    <p>Obecnie możesz mnie wspomóc przy tym projekcie swoimi pomysłami na postacie, potwory oraz umiejętności jakie pojawią sie w grze. Tutaj nie ma żadnych ograniczeń ponieważ jeszcze nie wiem w jakich realiach będzie umieszczona gra. Może to być zarówno futurstyka, fantastyka jak i science fiction.</p>
</div>

